<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Exam_app"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Welcome/Home Screen Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Student Login Activity -->
        <activity
            android:name=".StudentLoginActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <!-- Optional: Add meta-data for navigation up button -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Student Details Activity -->
        <activity
            android:name=".StudentDetailsActivity"
            android:exported="false"
            android:parentActivityName=".StudentLoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StudentLoginActivity" />
        </activity>

    </application>

</manifest>